body{ background:#728EB2; color:rgb(0, 0, 0); }
/*( 'box-sizing' will not work with this code )*/
textarea{  
  /* box-sizing: padding-box; */
  overflow:hidden;
  /* demo only: */
  padding:10px;
  width:50vw;
  height:20vh;
  font-size:14px;
  margin:50px auto;
  display:block;
  border-radius:10px;
  border:None;
}